<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
   <connectionStrings>
    <add name="localhost" connectionString="server=127.0.0.1;database=barbar;uid=root;pwd="/>
    <add name="azure" connectionString="Data Source=barbarapp.database.windows.net;Initial Catalog=BarbAR;Integrated Security=False;User ID=barbar;Password=dkit2019!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>   
  </connectionStrings>
  

 


</configuration>